// Fonts
@import url('//fonts.googleapis.com/css?family=Nunito');
@import url('//fonts.googleapis.com/css?family=Roboto');
@import url('//fonts.googleapis.com/css?family=Merriweather:regular,700');
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~normalize';
@import '~nouislider';
@import '~bootstrap-tagsinput';
@import '~bootstrap-typeahead';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.seb {
  color: #ffa;
}