
/* --------------------------------- LARGE FORM ------------------------------------ */



.splashImageContainer{
	float: left;
	display: block;
	padding: 50px 0px 0px 0px;
	margin: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.splashImageContainer img{
	vertical-align: bottom;	
}

.formPanelContainer {
	float: right;
	width: 366px;
	display: block;
	padding: 50px 0px 40px 10px;
	margin: 0px;
}



.formPanel {
	display: block;
	position: relative;
	min-height: 417px;
	text-align: left;
	font-size: 14px;
	color: #535353;
	background-color: #fff;
	padding: 20px;
	margin: 0px;
	border-left: 3px solid #1e6ab9;
	border-right: 3px solid #1e6ab9;
	border-bottom: 3px solid #1e6ab9;
	-moz-border-radius: 0px 0px 7px 7px; 
	-webkit-border-radius: 0px 0px 7px 7px; 
	border-radius: 0px 0px 7px 7px;
	box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
}

.formPanel h2 {
	font-family: 'montserratlight';
	font-size: 26px;
	line-height: 33px;
	font-weight: 400;
	color: #3c84ce;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 2px 0px;
}






.formPanelHeader {
	position: relative;
	font-size: 36px;
	display: block;
	text-align: left;
	font-family: 'montserratlight';
	color: #fff;
	margin: 0px;
	border: 0px;
	padding: 18px 0px 16px 20px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f86d0+0,1e6ab9+100 */
background: #3f86d0; /* Old browsers */
background: -moz-linear-gradient(top,  #3f86d0 0%, #1e6ab9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #3f86d0 0%,#1e6ab9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #3f86d0 0%,#1e6ab9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f86d0', endColorstr='#1e6ab9',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 7px 7px 0px 0px; 
	-webkit-border-radius: 7px 7px 0px 0px; 
	border-radius: 7px 7px 0px 0px;
}

.formPanelHeader2 {
	position: relative;
	font-size: 22px;
	display: block;
	text-align: left;
	font-family: 'montserratlight';
	color: #fff;
	margin: 0px;
	border: 0px;
	padding: 27px 0px 25px 20px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f86d0+0,1e6ab9+100 */
background: #3f86d0; /* Old browsers */
background: -moz-linear-gradient(top,  #3f86d0 0%, #1e6ab9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #3f86d0 0%,#1e6ab9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #3f86d0 0%,#1e6ab9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f86d0', endColorstr='#1e6ab9',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 7px 7px 0px 0px; 
	-webkit-border-radius: 7px 7px 0px 0px; 
	border-radius: 7px 7px 0px 0px;
}

.formPanelHeader3 {
	position: relative;
	font-size: 32px;
	display: block;
	text-align: left;
	font-family: 'montserratlight';
	color: #fff;
	margin: 0px;
	border: 0px;
	padding: 20px 0px 18px 20px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f86d0+0,1e6ab9+100 */
background: #3f86d0; /* Old browsers */
background: -moz-linear-gradient(top,  #3f86d0 0%, #1e6ab9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #3f86d0 0%,#1e6ab9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #3f86d0 0%,#1e6ab9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f86d0', endColorstr='#1e6ab9',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 7px 7px 0px 0px; 
	-webkit-border-radius: 7px 7px 0px 0px; 
	border-radius: 7px 7px 0px 0px;
}





.formArrow {
	position: absolute;
	z-index: 5000;
	right: 16px;
	margin: -47px 0px 0px 0px;
	padding: 0px;
}


.formFree {
	position: absolute;
	z-index: 5000;
	right: 16px;
	margin: -62px -18px 0px 0px;
	padding: 0px;
}

.formPanelInner {
	padding: 18px;
}

.formSectionHeader {
	font-size: 22px;
	display: block;
	text-align: left;
	font-family: 'montserratlight';
	color: #fff;
	margin: 0px;
	border-bottom: 1px dashed #fff;
	padding: 0px 0px 7px 0px;
}

.formRow1Col {
	text-align: left;
	padding: 10px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border: 0px;
}

.formRow2Col {
	float: left;
	width: 70%;
	text-align: left;
	padding: 0px 0px 0px 0px;
	border: 0px;
}

.formRow2Col2 {
	float: right;
	width: 30%;
	text-align: left;
	padding: 0px 0px 0px 0px;
	border: 0px;
	margin: 0px;
}

.RepayFigure {
	text-align: center;
	font-size: 16px;
	color: #535353;
	font-family: 'montserratbold';
	background: #eee;
	padding: 7px 5px 5px 5px;
	border: 1px solid #c9c9c9;
	margin: 9px 0px 0px 0px;
	-moz-border-radius: 77px; 
	-webkit-border-radius: 77px; 
	border-radius: 77px;
	box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
}


.elementHolder {
	float: left;
	width: 100%;
	margin: 11px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}


.inlineContainer {
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
}

.inlineContainer:last-child {
	display: inline-block;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
}


.inlineContainer.half .left {
	float: left;
}



.inlineContainer.half {
	float: left;
	width: 49%;
	box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
}


.inlineContainer.half:last-child {
	float: right;

}



.inlineContainer.end {
	float: right;
	margin-left: 5px;
}


.title {
	text-align: left;
	font-size: 18px;
	font-family: 'montserratlight';
	padding: 0px 0px 6px 0px;
	border: 0px;
	margin: 0px 0px 0px 0px;
}


.title2 {
	text-align: left;
	font-size: 16px;
	font-family: 'montserratlight';
	padding: 0px 0px 6px 0px;
	border: 0px;
	margin: 0px 0px 0px 0px;
}



.input {
	width: 100%;
	text-align: left;
	font-family: 'montserratlight';
	font-size: 16px;
	padding: 8px 0px 8px 10px;
	border: 1px solid #c4c4c4;
	margin: 0px 0px 0px 0px;
	background: fff;
	box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
}

.input.cal {
	width: 100%;
	text-align: left;
	font-family: 'montserratlight';
	font-size: 14px;
	padding: 8px 0px 8px 10px;
	border: 0px;
	margin: 0px 0px 0px 0px;
	box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
	background-position: 95% 50%;
	background-repeat: no-repeat;
	background-color: #fff;
}




::-webkit-input-placeholder {
   color: #9f9f9e; font-family: 'montserratlight'; font-size: 14px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #9f9f9e; font-family: 'montserratlight'; font-size: 14px; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #9f9f9e; font-family: 'montserratlight'; font-size: 14px; 
}

:-ms-input-placeholder {  
   color: #9f9f9e; font-family: 'montserratlight'; font-size: 14px; 
}

.select {
	width: 100%;
	text-align: left;
	font-size: 13px;
	padding: 10px 0px 10px 8px;
	border: 1px solid #c5c5c5;
	  border-radius: 0px;
	  -moz-border-radius: 0px;
	  -webkit-border-radius: 0px;
	margin: 0px 0px 5px 0px;
	box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
	cursor: pointer;
	background:#fff url("/images/debt/select-arrow.png");
	background-repeat: no-repeat;
	background-position: 98% 50%;
	-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
}



.tickContainer {
	width: 10px;
	height: 27px;
	position: relative;
	display: inline;
	float: left;
	text-align: left;
	padding: 0px;
	border: 0px;
	margin: 0px 0px 0px 27px; /* MARGIN 56px OFFSETS THE CHECKBOX NEGATIVE VALUES */
	box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
}

.tickContainerText {
	float: left;
	font-size: 16px;
	font-weight: 400;
	color: #535353;
	min-width: 45px;
	text-align: left;
	padding: 7px 0px 0px 0px;
	border: 0px;
	margin: 0px 0px 0px 0px;
}

.tickContainerText2 {
	float: left;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	color: #535353;
	width: 265px;
	text-align: left;
	padding: 7px 0px 0px 0px;
	border: 0px;
	margin: 0px 0px 0px 0px;
}

input[type=radio].css-checkbox1, input[type=radio].css-checkbox1.error, input[type=checkbox].css-checkbox1, input[type=checkbox].css-checkbox1.error{
	margin: 0px;
	padding: 0px;
	border: 0px;
	position: 				absolute;
	height:					27px;
	width: 					27px;
	visibility: 			hidden;
	z-index: 				-100;
}

input[type=radio].css-checkbox1 + label.css-label1, input[type=checkbox].css-checkbox1 + label.css-label1{
	background-position:	0 -27px;
	background-repeat:		no-repeat;
	cursor:					pointer;
	display:				inline-block;
	height:	32px;
	padding-left: 27px;
	margin-left: -27px;
}

input[type=radio].css-checkbox1:checked + label.css-label1, input[type=checkbox].css-checkbox1:checked + label.css-label1{
	background-position: 	0 0;
}

label.css-label1 {
	background-image:		url("/images/debt/tickbox.png");
	background-repeat: 		no-repeat;
	margin-left: 			0px;
	max-height: 			27px;
	-webkit-touch-callout: 	none;
	-webkit-user-select: 	none;
	-khtml-user-select: 	none;
	-moz-user-select: 		none;
	-ms-user-select: 		none;
	user-select: 			none;
}






.appButtonWrapper {
	padding: 16px 0px 16px 0px;
	text-align: center;
	margin: 0px auto;
	cursor: pointer;
}



.formButton {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: 'montserratregular';
	font-size: 28px;
	line-height: 28px;
	box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
	color: #fff;
	margin: 0px;
	border: 2px solid #fff;
	text-decoration: none;
	padding: 16px 20px 14px 20px;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-transition: background-color 400ms ease-out;
    	-moz-transition: background-color 400ms ease-out;
    	transition: background-color 400ms ease-out;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,7cbc0a+100 */
background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(top,  #9dd53a 0%, #7cbc0a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9dd53a 0%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9dd53a 0%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	text-decoration: none;
}

.formButton:hover {
	color: #fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7cbc0a+0,9dd53a+100 */
background: #7cbc0a; /* Old browsers */
background: -moz-linear-gradient(top,  #7cbc0a 0%, #9dd53a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7cbc0a 0%,#9dd53a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7cbc0a 0%,#9dd53a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbc0a', endColorstr='#9dd53a',GradientType=0 ); /* IE6-9 */

}

.formButton a 	      {  text-decoration: none; color: #fff; }
.formButton a:active      {  color: #fff; text-decoration: none;  }
.formButton a:hover	      {  color: #fff; text-decoration: none;  }
.formButton a:visited	      {  color: #fff; text-decoration: none;  }








.formShadow {
	width: 377px;
	height: 35px;
	margin: 0px 0px -35px 0px;
	border: 0px;
	padding: 0px;
	background: url('/images/debt/form-bg.png.html');
	background-position: top center;
	background-repeat: repeat-x;
	background-color: none;
}




#container {
    overflow: hidden;
}


#slider-wrapper{
    width: 1098px;
}


.slide {
    width: 366px;
    padding-bottom: 10px;
    overflow: hidden;
    float: left;

}


.formPanel .lrg {
	font-family: 'montserratlight';
	font-size: 26px;
	line-height: 33px;
	font-weight: 400;
	color: #464646;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 2px 0px;
}


@media screen and (max-width: 768px){

	/* --------------------------------- LARGE FORM ------------------------------------ */



	.formPanelContainer {

		padding: 0px 0px 0px 0px;
		margin: 0px;

	}

	.formPanel {
		position: relative;
		text-align: left;
		font-size: 14px;
		color: #535353;
		background-color: #fff;
		padding: 10px;
		margin: 0px;
		border-left: 3px solid #1e6ab9;
		border-right: 3px solid #1e6ab9;
		border-bottom: 3px solid #1e6ab9;
		-moz-border-radius: 0px 0px 7px 7px;
		-webkit-border-radius: 0px 0px 7px 7px;
		border-radius: 0px 0px 7px 7px;
		box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
	}

	.formPanel h2 {
		font-family: 'montserratlight';
		font-size: 26px;
		line-height: 33px;
		font-weight: 400;
		color: #3c84ce;
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 2px 0px;
	}






	.formPanelHeader {
		position: relative;
		font-size: 28px;
		display: block;
		text-align: left;
		font-family: 'montserratlight';
		color: #fff;
		margin: 0px;
		border: 0px;
		padding: 3px 0px 3px 20px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f86d0+0,1e6ab9+100 */
		background: #3f86d0; /* Old browsers */
		background: -moz-linear-gradient(top,  #3f86d0 0%, #1e6ab9 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #3f86d0 0%,#1e6ab9 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #3f86d0 0%,#1e6ab9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f86d0', endColorstr='#1e6ab9',GradientType=0 ); /* IE6-9 */
		-moz-border-radius: 7px 7px 0px 0px;
		-webkit-border-radius: 7px 7px 0px 0px;
		border-radius: 7px 7px 0px 0px;
	}

	.formPanelHeader2 {
		position: relative;
		font-size: 22px;
		display: block;
		text-align: left;
		font-family: 'montserratlight';
		color: #fff;
		margin: 0px;
		border: 0px;
		padding: 27px 0px 25px 20px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f86d0+0,1e6ab9+100 */
		background: #3f86d0; /* Old browsers */
		background: -moz-linear-gradient(top,  #3f86d0 0%, #1e6ab9 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #3f86d0 0%,#1e6ab9 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #3f86d0 0%,#1e6ab9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f86d0', endColorstr='#1e6ab9',GradientType=0 ); /* IE6-9 */
		-moz-border-radius: 7px 7px 0px 0px;
		-webkit-border-radius: 7px 7px 0px 0px;
		border-radius: 7px 7px 0px 0px;
	}

	.formPanelHeader3 {
		position: relative;
		font-size: 32px;
		display: block;
		text-align: left;
		font-family: 'montserratlight';
		color: #fff;
		margin: 0px;
		border: 0px;
		padding: 20px 0px 18px 20px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f86d0+0,1e6ab9+100 */
		background: #3f86d0; /* Old browsers */
		background: -moz-linear-gradient(top,  #3f86d0 0%, #1e6ab9 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #3f86d0 0%,#1e6ab9 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #3f86d0 0%,#1e6ab9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f86d0', endColorstr='#1e6ab9',GradientType=0 ); /* IE6-9 */
		-moz-border-radius: 7px 7px 0px 0px;
		-webkit-border-radius: 7px 7px 0px 0px;
		border-radius: 7px 7px 0px 0px;
	}





	.formArrow {
		position: absolute;
		z-index: 5000;
		right: 16px;
		margin: -47px 0px 0px 0px;
		padding: 0px;
	}


	.formFree {
		position: absolute;
		z-index: 5000;
		right: 16px;
		margin: -62px -18px 0px 0px;
		padding: 0px;
	}

	.formPanelInner {
		padding: 10px;
	}

	.formSectionHeader {
		font-size: 22px;
		display: block;
		text-align: left;
		font-family: 'montserratlight';
		color: #fff;
		margin: 0px;
		border-bottom: 1px dashed #fff;
		padding: 0px 0px 7px 0px;
	}

	.formRow1Col {
		text-align: left;
		padding: 10px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		border: 0px;
	}

	.formRow2Col {
		float: left;
		width: 70%;
		text-align: left;
		padding: 0px 0px 0px 0px;
		border: 0px;
	}

	.formRow2Col2 {
		float: right;
		width: 30%;
		text-align: left;
		padding: 0px 0px 0px 0px;
		border: 0px;
		margin: 0px;
	}

	.RepayFigure {
		text-align: center;
		font-size: 15px;
		color: #535353;
		font-family: 'montserratbold';
		background: #eee;
		padding: 7px 5px 5px 5px;
		border: 1px solid #c9c9c9;
		margin: 9px 0px 0px 0px;
		-moz-border-radius: 77px;
		-webkit-border-radius: 77px;
		border-radius: 77px;
		box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
	}


	.elementHolder {
		float: left;
		width: 100%;
		margin: 11px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}


	.inlineContainer {
		display: inline-block;
		margin: 0px;
		padding: 0px 0px 0px 0px;
		position: relative;
		box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
	}

	.inlineContainer:last-child {
		display: inline-block;
		margin: 0px;
		padding: 0px 0px 0px 0px;
		position: relative;
		box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
	}


	.inlineContainer.half .left {
		float: left;
	}



	.inlineContainer.half {
		float: left;
		width: 49%;
		box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
	}


	.inlineContainer.half:last-child {
		float: right;

	}



	.inlineContainer.end {
		float: right;
		margin-left: 5px;
	}


	.title {
		text-align: left;
		font-size: 16px;
		font-family: 'montserratlight';
		padding: 0px 0px 6px 0px;
		border: 0px;
		margin: 0px 0px 0px 0px;
	}


	.title2 {
		text-align: left;
		font-size: 16px;
		font-family: 'montserratlight';
		padding: 0px 0px 6px 0px;
		border: 0px;
		margin: 0px 0px 0px 0px;
	}



	.input {
		width: 100%;
		text-align: left;
		font-family: 'montserratlight';
		font-size: 16px;
		padding: 8px 0px 8px 10px;
		border: 1px solid #c4c4c4;
		margin: 0px 0px 0px 0px;
		background: fff;
		box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
	}

	.input.cal {
		width: 100%;
		text-align: left;
		font-family: 'montserratlight';
		font-size: 14px;
		padding: 8px 0px 8px 10px;
		border: 0px;
		margin: 0px 0px 0px 0px;
		box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
		background: url('/images/debt/date-bg.png');
		background-position: 95% 50%;
		background-repeat: no-repeat;
		background-color: #fff;
	}

	.select {
		width: 100%;
		text-align: left;
		font-size: 13px;
		padding: 10px 0px 10px 8px;
		border: 1px solid #c5c5c5;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		margin: 0px 0px 5px 0px;
		box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
		cursor: pointer;
		background:#fff url(/images/debt/select-arrow.png);
		background-repeat: no-repeat;
		background-position: 98% 50%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}




	::-webkit-input-placeholder {
		color: #9f9f9e; font-family: 'montserratlight'; font-size: 14px;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: #9f9f9e; font-family: 'montserratlight'; font-size: 14px;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: #9f9f9e; font-family: 'montserratlight'; font-size: 14px;
	}

	:-ms-input-placeholder {
		color: #9f9f9e; font-family: 'montserratlight'; font-size: 14px;
	}


	.tickContainer {
		width: 10px;
		height: 27px;
		position: relative;
		display: inline;
		float: left;
		text-align: left;
		padding: 0px;
		border: 0px;
		margin: 0px 0px 0px 27px; /* MARGIN 56px OFFSETS THE CHECKBOX NEGATIVE VALUES */
		box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
	}

	.tickContainerText {
		float: left;
		font-size: 16px;
		font-weight: 400;
		color: #535353;
		min-width: 45px;
		text-align: left;
		padding: 7px 0px 0px 0px;
		border: 0px;
		margin: 0px 0px 0px 0px;
	}

	.tickContainerText2 {
		float: left;
		display: inline-block;
		font-size: 13px;
		font-weight: 400;
		color: #535353;

		text-align: left;
		padding: 7px 0px 0px 0px;
		border: 0px;
		margin: 0px 0px 0px 0px;
	}

	input[type=radio].css-checkbox1, input[type=radio].css-checkbox1.error, input[type=checkbox].css-checkbox1, input[type=checkbox].css-checkbox1.error{
		margin: 0px;
		padding: 0px;
		border: 0px;
		position: 				absolute;
		height:					27px;
		width: 					27px;
		visibility: 			hidden;
		z-index: 				-100;
	}

	input[type=radio].css-checkbox1 + label.css-label1, input[type=checkbox].css-checkbox1 + label.css-label1{
		background-position:	0 -27px;
		background-repeat:		no-repeat;
		cursor:					pointer;
		display:				inline-block;
		height:	32px;
		padding-left: 27px;
		margin-left: -27px;
	}

	input[type=radio].css-checkbox1:checked + label.css-label1, input[type=checkbox].css-checkbox1:checked + label.css-label1{
		background-position: 	0 0;
	}

	label.css-label1 {
		background-image:		url("/images/debt/tickbox.png");
		background-repeat: 		no-repeat;
		margin-left: 			0px;
		max-height: 			27px;
		-webkit-touch-callout: 	none;
		-webkit-user-select: 	none;
		-khtml-user-select: 	none;
		-moz-user-select: 		none;
		-ms-user-select: 		none;
		user-select: 			none;
	}






	.appButtonWrapper {
		padding: 16px 0px 16px 0px;
		text-align: center;
		margin: 0px auto;
		cursor: pointer;
	}



	.formButton {
		display: inline-block;
		width: 100%;
		text-align: center;
		font-family: 'montserratregular';
		font-size: 28px;
		line-height: 28px;
		box-sizing: border-box; /* REMOVES PADDING WITH 100% WiDTHS */
		color: #fff;
		margin: 0px;
		border: 2px solid #fff;
		text-decoration: none;
		padding: 16px 20px 14px 20px;
		cursor: pointer;
		-webkit-appearance: none;
		-webkit-transition: background-color 400ms ease-out;
		-moz-transition: background-color 400ms ease-out;
		transition: background-color 400ms ease-out;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,7cbc0a+100 */
		background: #9dd53a; /* Old browsers */
		background: -moz-linear-gradient(top,  #9dd53a 0%, #7cbc0a 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #9dd53a 0%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #9dd53a 0%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
		-moz-border-radius: 9px;
		-webkit-border-radius: 9px;
		border-radius: 9px;
		text-decoration: none;
	}

	.formButton:hover {
		color: #fff;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7cbc0a+0,9dd53a+100 */
		background: #7cbc0a; /* Old browsers */
		background: -moz-linear-gradient(top,  #7cbc0a 0%, #9dd53a 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #7cbc0a 0%,#9dd53a 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #7cbc0a 0%,#9dd53a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbc0a', endColorstr='#9dd53a',GradientType=0 ); /* IE6-9 */

	}

	.formButton a 	      {  text-decoration: none; color: #fff; }
	.formButton a:active      {  color: #fff; text-decoration: none;  }
	.formButton a:hover	      {  color: #fff; text-decoration: none;  }
	.formButton a:visited	      {  color: #fff; text-decoration: none;  }








	.formShadow {
		width: 377px;
		height: 35px;
		margin: 0px 0px -35px 0px;
		border: 0px;
		padding: 0px;
		background: url('/images/debt/form-bg.png');
		background-position: top center;
		background-repeat: repeat-x;
		background-color: none;
	}




	#container {
		overflow: hidden;
	}


	#slider-wrapper{
		width: 1098px;
	}


	.slide {
		width: 366px;
		padding-bottom: 10px;
		overflow: hidden;
		float: left;

	}


	.formPanel .lrg {
		font-family: 'montserratlight';
		font-size: 26px;
		line-height: 33px;
		font-weight: 400;
		color: #464646;
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 2px 0px;
	}
}


